.school{
    font-family: 'Schoolbell';
}

@media only screen and (max-width: 768px) {
    .mobile{
        display: visible;
    }
    .desktop{
        display: none;
    }
    .table-responsive{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .mobile{
        display: none;
    }
    .desktop{
        display: visible;
    }
    .table-responsive{
        width: 160%;
    }
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed; /* Change to fixed for centering on the screen */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    z-index: 1000; /* Ensure it appears above other elements */
}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.active{
    border: solid 2px #176131;
    border-radius: 8px;
    padding: 4px;
    background-color: #88AA31 !important;
}

.bottom-bar-text{
    color: black; 
    text-decoration: none; /* Remove underline */
    font-size: inherit; /* Inherit font size */
}

.current{
    color: #176131 !important;
}


.file-upload>input {
    display: none;
}


.highlightable:hover{
    border: solid 4px #88AA31;
}
